<link rel="stylesheet" href="../../css/dashboard.css">
<h1>Bienvenido {{user.username}}</h1>
<div id="cards">
    {{#each guildsArray}}
    <div class="card">
        <div class="card-img">
        {{#if this.icon}}
        <img src="https://cdn.discordapp.com/icons/{{this.id}}/{{this.icon}}.png" alt="{{this.name}}">
        {{else}}
            <div class="iconCustom">
                <p style="padding-top:1.5em;overflow: hidden;width: 100px;text-overflow: Ellipsis;text-align: center;">{{this.shortName}}</p>
            </div>
        {{/if}}
        </div>
        <h3 class="title-card">{{this.name}}</h3>
        {{#if this.inside}}
        <a href="/panel/{{this.id}}" class="buttons-card">configurar</a>
        {{else}}
        <a href="/invite" style="letter-spacing: 1px;" class="buttons-card">invitar</a>
        {{/if}}
    </div>
    {{/each}}
</div>
