<link rel="stylesheet" href="../../css/dashboard.css">
<h1 style="font-size: 1.5em;">panel del servidor: {{guild.name}}</h1>
<div id="sections">
    <div id="configurations">
        <h3 style="text-align: center;margin-bottom: 1em;color: #4a4adb;">Configuración</h3>
    </div>
    <div id="stats">
        <h3 style="text-align: center;margin-bottom: 1em;color: #4a4adb;">Estadísticas</h3>
        <p>Dueño: <br/>{{owner}}<br/><br/></p>
        <p>ID del servidor: <br/>{{guild.id}}<br/><br/></p>
        <p>Canales [{{channels}}]:<br/>{{categories}} categorias | {{texts}} de texto | {{voices}} de voz<br/><br/></p>
        <p>roles:<br/>{{roles}}<br/><br/></p>
        <p>Miembros [{{membersTotal}}]:<br/>{{membersOnline}}<br/>{{membersOffline}}<br/><br/></p>
        <p>a</p>
    </div>
</div>